# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Local environment variables & secrets
.env
credentials.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
